.frame {
  background: linear-gradient(
      270deg,
      rgba(246, 142, 16, 0) 0%,
      rgba(255, 166, 0, 0.1) 0%,
      rgba(255, 166, 0, 0.2) 100%
    ), linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 100%);
  width: 100%;
  min-width: 375px;
  min-height: 812px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.frame .image {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 186px;
  height: 71px;
  aspect-ratio: 2.61;
  z-index: 10;
}

.frame .div {
  position: relative;
  width: 358px;
  height: 638px;
  flex-direction: column;
  border-radius: 12px;
  border: 1px solid rgba(219, 176, 86, 0.25);
  box-shadow: 0px 4px 4px rgba(219, 176, 86, 0.25);
  background: linear-gradient(
      270deg,
      rgba(246, 142, 16, 0) 0%,
      rgba(255, 166, 0, 0.14) 0%,
      rgba(255, 166, 0, 0.27) 100%
    ), linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 100%);
  display: flex;
  overflow: hidden;
  margin-top: 100px;
}

.frame .text-wrapper {
  display: flex;
  align-items: center;
  margin-left: 101px;
  width: 154px;
  height: 30px;
  margin-top: 14px;
  font-family: "Poppins-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .p {
  display: flex;
  align-items: center;
  margin-left: 86px;
  width: 185px;
  height: 24px;
  margin-top: 9px;
  font-family: "Poppins-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .text-wrapper-2 {
  display: flex;
  align-items: center;
  margin-left: 19px;
  width: 58px;
  height: 30px;
  margin-top: 23px;
  font-family: "Poppins-Bold", Helvetica;
  font-weight: 700;
  color: #dbb056;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .div-2 {
  margin-left: 41px;
  width: 293px;
  height: 52px;
  margin-top: 6px;
  gap: 17px;
  background-color: #0000005e;
  border-radius: 11px;
  border: 1px solid rgba(219, 176, 86, 0.25);
  display: flex;
  overflow: hidden;
}

.frame .img {
  margin-top: 12px;
  width: 37px;
  height: 27px;
  margin-left: 7px;
  aspect-ratio: 1.36;
  object-fit: cover;
}

.frame .text-wrapper-3 {
  display: flex;
  align-items: center;
  margin-top: 15px;
  width: 199px;
  height: 23px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffffb0;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .text-wrapper-4 {
  display: flex;
  align-items: center;
  margin-left: 19px;
  width: 101px;
  height: 30px;
  margin-top: 9px;
  font-family: "Poppins-Bold", Helvetica;
  font-weight: 700;
  color: #dbb056;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .text-wrapper-5 {
  display: flex;
  align-items: center;
  margin-top: 15px;
  width: 63px;
  height: 23px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffffb0;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}
